
/*.ugtocontain{
	margin-top: 140px;
	width: 1000px;
	height: 700px;
	margin-left: 230px;
	position: fixed;
}

.containparagraph{
   left: 250px;	
}

.title{
	font-family: Impact;
	margin: 10px;
	position: absolute;
	left: 50px;

}


.points{
	font-family: Arial;
	padding: 10px;
	margin: 10px;
	position: absolute;
	left: 50px;
	top: 70px;

}

.points2{
	font-family: Arial;
	padding: 10px;
	margin: 10px;
	position: relative;
	left: 50px;
	top: 330px;
	position: absolute;
}

.paragraphs{
	font-family: arial;
	padding: 10px;
	margin: 10px;
	position: absolute;
	width: 1000px;
	height: 200px;
	left: 50px;
	top: 110px;
	margin-right: 100px;

}

.paragraphs2{
	font-family: arial;
	padding: 10px;
	margin: 10px;
	position: absolute;
	width: 1000px;
	height: 100px;
	left: 50px;
	top: 370px;
	margin-right: 100px;

}*/