body{
	color: black;

}

.page-header{
	margin-top: 0px;
	margin-bottom: 0px;
	color: white;
	padding: 55px 60px;
	background-color: #36bef9;
	height: 140px;
	width: 1366px;
}

h6{
	font-size: 25px;
	color: white;
	font-family: : Century Gothic;
	position: absolute;
	top: -5px;
	left: 10px;

	
}

h3{
	font-size: 100px;
	font-family: Century Gothic;
	top: 3px;
	left: 5px;
	position: absolute;
}

.col-xs-2{

	margin: 0 5px 0 0;
	height: 590px;
	background-color: #D0D0D0;
	
}

.col-md-7{
	margin: 0px 3px 0px 0px;
	height: 590px;
}

.col-md-2{
	margin: 0px 5px 0px 0px;
	height: 590px;
	padding: 20px 5px;
	width: 290px;
}

.form-group{
	border-style: dotted;
	border-color: black;
	width: 290px;
	height: 300px;
	padding: 20px 30px;
}
.button{
	float: right;
}
.logo{
	margin-left: 50px;
	height: 100px;
	width: 100px;
}