body{

	color: black;

}

.page-header{

	margin-top: 0px;
	color: white;
	padding: 55px 60px;
	background-color: #36bef9;
	height: 140px;
	width: 1366px;
}

h6{
	font-size: 25px;
	color: white;
	font-family: : Century Gothic;
	position: absolute;
	top: -5px;
	left: 10px;

	
}

h3{
	font-size: 100px;
	font-family: Century Gothic;
	top: 3px;
	left: 5px;
	position: absolute;
}
.form-group{
	float: right;
	margin-right: 20px;
	border-style: dotted;
	border-color: black;
	width: 350px;
	height: 300px;
	padding: 20px 70px;
}
.button{
	float: right;
}
.logo{
	margin-left: 50px;
	height: 100px;
	width: 100px;
}