.title{
	font-family: Impact;
	margin-top: 30px;
	margin-left: 25px;
}

.subtitle{
	margin-left: 30px;
	font-family: Arial;
}

.paragraphs{
	margin-left: 30px;
}

.comments{
	margin-top: 30px;
	margin-left: 25px;
	font-weight: bold;
}
.desc{
	margin-left: 30px;
}

.contactTitle{
	margin-top: 100px;
	margin-left: 25px;
	font-weight: bold;
}

.info{
	font-family: Times New Roman;
	margin-left: 30px;
}

.address{
	margin-left: 30px;
}

.number{
	font-family: Lucida Console;
	margin-left: 30px;
}