::-webkit-validation-bubble-message { display: none; }

body{
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: auto;
}

.contain{
    position: fixed;
	width: 1090px;
	height: 700px;
	padding: 20px 30px;
    overflow-y: hidden;
}

.registergreet{
	font-family: Century Gothic;
	font-size: 50px;
	position: fixed;
	padding: 20px;
	margin: 130px;
	left: 150px

}

.greetsub{
    font-family: Century Gothic;
    font-size: 25px;
    position: absolute;
    padding: 20px;
    margin: 10px;
    top: 205px;
    left: 340px;

}

.fname{
	 top: 300px;
     left: 320px; 
     position: absolute;

}

.lname{
	 top: 390px;
     left: 320px; 
     position: absolute;

}

.add{
	 top: 480px;
     left: 320px; 
     position: absolute;
}

.username{
    top: 300px;
    left: 750px;
    position: absolute;
}

.password{
    top: 390px;
    left: 750px;
    position: absolute;
}


.email{
    top: 480px;
    left: 750px;
    position: absolute;
}

input[type=text], select {
    width: 250px;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.regbutt{
    width: 120px;
    height: 40px;
    left: 780px;
    bottom: 50px;
    position: absolute;
}

.cancelbutt{
    width: 120px;
    height: 40px;
    left: 930px;
    bottom: 50px;
    position: absolute;
}