.container-fluid{
	margin: 0 auto;
	max-width: 1360px;
/*	border-style: dotted;*/
}
.col-md-12{
	margin: 0 auto;
	width: 100%;
	/*min-width: 1000px;*/
	left: -15px;
}
/*.header{
	width: 100%;
	margin: 0 auto;
	right: -120px;
	position: absolute;
}*/

.col-sm-2{
	/*width: 230px;*/
	background-color: #D0D0D0;
	border-style: solid;
	border-color: #CCCCCC;
	font-size: 18px;
	font-family: Century Gothic Regular;
	padding-bottom: 43px;
/*	left: -105px;*/
}

.col-sm-7{
	height: 550px;
/*	border-style: dotted;*/
/*	border-color: #CCCCCC;*/
	overflow-y: scroll;
	
}

.article_holder{
	margin-top: 20px;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.blog_title{
	padding-top: 5px;
	text-align: center;
}
.article_author{
	color: #999999;
	text-align: right;
}
.article_content{
	text-align: left;
}

.col-sm-3{
/*	right: -105px;*/
/*	background-color: #D0D0D0;*/
	border-style: solid;
	border-color: white;	
}

.col-sm-10{
	height: 555px;
/*	border-style: dotted;*/
}

.form-group{
	border-style: dotted;
	border-color: black;
	width: 320px;
	height: 285px;
	padding: 10px 20px;
}

.logo{

	margin-left: 90px;
	width: 90px;
	height: 90px;
}

.chat{
	background-image: url("../images/need.png");
	background-repeat: no-repeat;
	background-size: 290px 250px;
	border-style: dotted;
	border-color: black;
	width: 320px;
	height: 250px;
	padding: 5px 30px;

}

.chatbutt{
	color: white;
	background-color: #36bfe9;
	border-color: none;
	border-radius: 7px;
	height: 50px;
	width: 100px;
	bottom: 5px;
	float: right;
	margin-top: 160px;
}

.modal-dialog{
	border-style: dotted;
	border-color: #CCCCCC;
}

.loginBtn{
	height: 40px;
	width: 460px;
	background-color: #36bfe9;
	border-radius: 7px;
	border-style: none;
	font-size: 20px;
}

.registerBtn{
	height: 40px;
	width: 460px;
	background-color: #999999;
	border-radius: 7px;
	border-style: none;
	font-size: 20px;
}
